<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="appleoctopus.lastword">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.RECORD_VIDEO"/> -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO"/> -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name=".AfterSelfRecordActivity"
            android:label="Last Word"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Introduction.IntroActivity"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0e20e7e8ebb5b6905634e2aa45ed0496dad3574f" />

        <activity android:name=".CategoryDetailActivity" />
        <activity android:name=".Introduction.BeforeSelfRecordActivity" />
        <activity android:name=".BaseDynamicViewActivity" />
        <activity android:name=".CatogoryActivity" />
        <!-- <activity android:name=".AfterSelfRecordActivity" /> -->

        <activity android:name=".VideoDetailActivity"></activity>
    </application>

</manifest>