<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appleoctopus.lastword">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0e20e7e8ebb5b6905634e2aa45ed0496dad3574f" />

        <activity android:name=".MainActivity" />
        <activity android:name=".BeforeSelfRecordActivity" />
        <activity android:name=".BaseDynamicViewActivity" />
        <activity android:name=".CatogoryActivity" />
        <activity android:name=".AfterSelfRecordActivity" />

    </application>

</manifest>